In [30]:
import pandas as pd
import pickle
import subprocess
import os

In [2]:
data = pd.read_csv("../H3K27me3/GSM2188866_MDA231_merged.ghits.pkbin.net.txt", sep="\t", header=None)

In [3]:
data.head()

      0        1        2                3      4  5     6       7        8
0  chr1  1785285  1891117  ENSG00000078369  22490  -  chr1  908000  55.2273
1  chr1  1785285  1891117  ENSG00000078369  22490  -  chr1  909000  55.2273
2  chr1  1785285  1891117  ENSG00000078369  22490  -  chr1  910000  41.3955
3  chr1  1785285  1891117  ENSG00000078369  22490  -  chr1  911000  55.2273
4  chr1  1785285  1891117  ENSG00000078369  22490  -  chr1  912000  55.2273

In [3]:
#Наши РНК
with open("../H3K27me3/lncRNA_All_Peaks_Correlations_corrected.pickle", 'rb') as f:
    corr = pickle.load(f)
corr = [i for i in corr if len(i) != 0]

In [4]:
len(corr)

1337

In [5]:
peaks = pd.read_csv("../H3K27me3/peaks/merged_peaks.bed", sep="\t", header=None)

In [6]:
lncRNAs = [c[0][0].split('.')[0] for c in corr]

In [7]:
commonRNAs = set(lncRNAs).intersection(set(data[3].tolist()))

In [8]:
len(commonRNAs)

35

In [4]:
#Сделать bed файлы с участками ДНК по РНК

In [9]:
for rna in commonRNAs:
    df = data[data[3] == rna][[6, 7]]
    df[8] = data[7] + 1000
    df.to_csv("../H3K27me3/grid_seq/" + rna + ".bed", sep="\t", header=None, index=None)

In [10]:
peaks.head()

      0      1      2       3
0  chr1  10341  10640  peak_0
1  chr1  54315  55724  peak_1
2  chr1  56893  57208  peak_2
3  chr1  60654  60893  peak_3
4  chr1  61834  62068  peak_4

In [ ]:
#Сделать bed файлы с пиками по РНК

In [18]:
from collections import defaultdict
d = defaultdict(list)
for i in [i for c in corr for i in c if i[0].split('.')[0] in commonRNAs]:
    d[i[0].split('.')[0]].append(i[1])

In [19]:
for l in commonRNAs:
    peaks_names = d[l]
    lnc_peaks = peaks[peaks[3].isin(peaks_names)]
    lnc_peaks.to_csv("../H3K27me3/all_peaks_coords_by_lnc/" + l + ".bed", sep="\t", header=None, index=None)

In [21]:
data = pd.read_csv("../H3K27me3/all_peaks_coords_by_lnc/liftToHg38_ENSG00000230551.bed", sep="\t", header=None)

In [22]:
data[0].value_counts()

chr12    1
Name: 0, dtype: int64

In [ ]:
#liftOver все наши файлы, потому что данные grid_seq в hg38

In [11]:
def liftOver(bed, liftover_bed, unlifted_bed):
    try:
        output = subprocess.check_output("liftOver " + bed + " ../hg19ToHg38.over.chain.gz " + liftover_bed + " " + unlifted_bed, shell=True, stderr=subprocess.STDOUT).decode()
    except subprocess.CalledProcessError as e:
        output = e.output.decode()        

    print(output)

In [13]:
files = os.listdir("../H3K27me3/all_peaks_coords_by_lnc")
for l in files:
    liftOver("../H3K27me3/all_peaks_coords_by_lnc/" + l, "../H3K27me3/all_peaks_coords_by_lnc/liftToHg38_" + l, "../H3K27me3/all_peaks_coords_by_lnc/unliftToHg38_" + l)

Reading liftover chains
Mapping coordinates

Reading liftover chains
Mapping coordinates

Reading liftover chains
Mapping coordinates

Reading liftover chains
Mapping coordinates

Reading liftover chains
Mapping coordinates

Reading liftover chains
Mapping coordinates

Reading liftover chains
Mapping coordinates

Reading liftover chains
Mapping coordinates

Reading liftover chains
Mapping coordinates

Reading liftover chains
Mapping coordinates

Reading liftover chains
Mapping coordinates

Reading liftover chains
Mapping coordinates

Reading liftover chains
Mapping coordinates

Reading liftover chains
Mapping coordinates

Reading liftover chains
Mapping coordinates

Reading liftover chains
Mapping coordinates

Reading liftover chains
Mapping coordinates

Reading liftover chains
Mapping coordinates

Reading liftover chains
Mapping coordinates

Reading liftover chains
Mapping coordinates

Reading liftover chains
Mapping coordinates

Reading liftover chains
Mapping coordinates

Reading liftover chains
Mapping coordinates

Reading liftover chains
Mapping coordinates

Reading liftover chains
Mapping coordinates

Reading liftover chains
Mapping coordinates

Reading liftover chains
Mapping coordinates

Reading liftover chains
Mapping coordinates

Reading liftover chains
Mapping coordinates

Reading liftover chains
Mapping coordinates

Reading liftover chains
Mapping coordinates

Reading liftover chains
Mapping coordinates

Reading liftover chains
Mapping coordinates

Reading liftover chains
Mapping coordinates

Reading liftover chains
Mapping coordinates

In [ ]:
#Объединяем результаты genometricCirr в один файл